* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: fill;
  
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(243, 242, 242, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
h2 {
  color: black;
  font-size: 50px;
  margin-top: -400px;}
/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}

.searchbar-text {
  border-radius: 25px 0 0 25px !important;
  padding-left: 25px !important;
  background: white !important;
  width: 370px !important;
}


/* Make the image to responsive */
img {object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
